{% extends "base.html"  %} {% block title %}Home{% endblock %}

{% block content %}
    <h1>Pocetna stranica</h1>
    <br/>
    {% if user.verified == False %}
        <label style="font-size: 30px;" for="verify">Nalog nije verifikovan</label>
        <a id="verify" href="/verify">&nbsp verifikuj</a>
    {% endif %}
    {% if user.verified == True %}
    <form action="/payment">
        <label style="font-size: 30px;"> Uplata na racun: </label>
        <input type="submit" value="Uplati" />
    </form>
    {% endif %}
{% endblock %}