{% extends "base.html"  %} {% block title %}Payment{% endblock %}

{% block content %}
    <h1>Uplata na racun</h1>
    <br/>
    <div>
        <label>Stanje na kartici</label>
        {% for creditCard in user.creditCard %}
            <label> {{ creditCard.state }} RSD</label>
        {% endfor %}
    </div>
    <br/>
    <form method="POST">
        <div>
            <label for="ammount">Iznos za uplatu:</label>
            <input type="number" id="ammount" name="ammount" placeholder="0"/>
            <button type="submit">Uplati</button>
        </div>
    </form>
{% endblock %}